html, body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #666;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a,
a:visited,
a:active,
a:focus {
  /*color: #67809F;*/
  color: #A38E79;
  text-decoration: none;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

a:hover {
  color: #282828;
  text-decoration: none;
}

/*PAGE CSS BEGINS*/

/*.social-media {
  position: fixed;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  right: 0;
  width: 50px;
  padding: 10px 0;
  height: auto;
}*/

.main-container {
  width: 60vw;
  margin: 4em auto;
}

header {
  position: relative;
  margin: 0 auto;
  padding-bottom: 0.5em;
  width: 100%;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #DBDBDB;
}

/*.social-media {
  position: relative;
  display: inline-block;
  width: 60px;
  margin-bottom: 1em;
}*/

.social-media {
  margin: 0;
  font-size: 2em;
}

.social-icon {
  position: relative;
  margin: 10px 20px 10px 0;
  font-size: 1.5em;
  width: auto;
}

.insta {
  font-size: 1.4em;
}

.info-container {
  position: relative;
  display: inline-block;
  width: 60%;
  top: -3px;
}

.info {
  font-size: 1.1em;
}

span {
  color: #282828;
  font-weight: 400;
}

section {
  margin: 4em 0;
}

footer {
  border-top: 1px solid #DBDBDB;
  font-size: 1.1em;
}